$dark-grey: #716d69;
$dark-blue: #073248;
$blue: #195986;
$blue-grey: #bed6e1;
$grey: #bed5e0;

.blog-list {
  width: 100%;

  li {
    a {
      text-decoration: none;
      color: $blue;

      &:hover {
        color: $dark-blue;
      }
    }
  }
}

.blog-articles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > article {
    padding: 1rem;
    flex-basis: 30rem;
    flex-grow: 1;

    img {
      height: 15rem;
      width: 100%;
      object-fit: cover;
    }

    h2 {
      margin-top: 0;
    }
  }
}
