/*
  VARIABLES
*/
$text-font: "Montserrat", sans-serif;
$dark-grey: #716d69;
$dark-blue: #073248;
$blue: #195986;
$blue-grey: #bed6e1;
$grey: #b3b4b4;

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  min-height: calc(100vh - 7rem);

  @media screen and (min-width: 60rem) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  > * {
    flex-basis: 30rem;
  }

  > div {
    h1 {
      display: inline-block;
    }
  }

  &__image {
    @media screen and (min-width: 60rem) {
      flex-basis: 40rem;
    }

    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: -1;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    .btn--primary {
      padding: 0.6rem 1.2rem;
      background-color: $dark-blue;
      text-decoration: none;
      border-radius: 6px;
      color: #fff;
      display: inline-block;
    }
  }
}
